
DATABASE_URL="your_mongodb_connection_string_here"

PORT=3000
NODE_ENV=development
LOG_LEVEL=info
REFRESH_TOKEN_SECRET=SomeRandomStringForRefreshTokenSecret
ACCESS_TOKEN_SECRET=SomeRandomStringForAccessTokenSecret

AWS_ACCESS_KEY=AWS_ACCESS_KEY_ID
AWS_BUCKET_NAME=AWS_BUCKET_NAME
AWS_BUCKET_REGION=AWS_BUCKET_REGION
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

SENDING_EMAIL=SUPPORT_EMAIL_ADDRESS
MAIL_PASS=SUPPORT_EMAIL_PASSWORD

REDIS_HOST=REDIS_HOST_URL
REDIS_PORT=REDIS_PORT_NUMBER
REDIS_USERNAME=default
REDIS_PASSWORD=REDIS_PASSWORD